
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #264c6e;
  color: #d7d7d7;
  font-size: 0.75em;
  margin: 4em;
}


.card {
  background-color: #254462;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-title {
  background-color: #243a4c;
  padding: 0.8em 1em;
  height: auto;
  margin-bottom: 0.8em;
}

.card-content {
  padding: 0.3em 1em;
  flex-grow: 1;
}

.label-value {
  font-size: larger;
  -webkit-animation: slide-in-bottom 0.8s;
  animation: slide-in-bottom 0.8s;
}

.label-key {
  width: 5em;
  font-size: smaller;
}

.progress {
  flex-grow: 1;
  height: 0.4em;
  background-color: #243a4c;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 40px;
}

.progress-bar {
  height: 0.4em;
  border-radius: 40px;
  animation: bar-slide-right 0.5s;

}

.progress-container {
  display: flex;
  align-items: center;

}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bar-slide-right {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}

